/* 
 * uses BEM — Block Element Modifier conventions
 *
 * Usually I'd use .scss and will write lines below as:
 * .navigation {
 *   &__children {
 *   }
 * }
 *
 * with .scss it would be much, much less code!
 * */

.navigation {
  background: #222d32;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100% - 50px);
  width: 350px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style-type: none !important;
}

.navigation__tree {
  user-select: none;
  list-style-type: none !important;
  padding: 0;
}

.navigation__branch-link {
  color: #b8c7ce;
  cursor: pointer;
  padding: 12px 5px 12px 15px;
  display: block;
  text-decoration: none;
}

.navigation__branch-link:hover {
  background: #1e282c;
  color: #fff;
}

.navigation__branch-link--active {
  background: #1e282c;
  color: #fff;
}

.navigation__branch-icon {
  margin-right: 10px;
  transition: transform 0.5s ease;
}

.navigation__branch-icon--rotate {
  transform: rotate(-90deg);
}

.navigation__branch__childs {
  padding-left: 20px;
  background: #2c3b41;
  transition: max-height 0.5s ease-in;
  max-height: 500px;
}

.navigation__branch__childs--hide {
  padding-left: 20px;
  background: #2c3b41;
  transition: max-height 0.5s ease-out;
  max-height: 0;
}

.navigation__branch__childs .navigation__branch-link:hover {
  background: #2c3b41;
}

.navigation__branch__childs .navigation__branch-link--active {
  background: #2c3b41;
}
